<div class="banner-area pt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Single-banner start -->
                <div class="single-banner banner-1 banner-4">
                    <a class="banner-thumb" href="#"><img src="assets/img/banner/3.jpg" alt="" /></a>
                    <span class="pro-label new-label">new</span>
                    <span class="price">$50.00</span>
                    <div class="banner-brief">
                        <h2 class="banner-title"><a href="#">Product name</a></h2>
                        <p class="mb-0">Furniture</p>
                    </div>
                    <a href="#" class="button-one font-16px" data-text="Buy now">Buy now</a>
                </div>
                <!-- Single-banner end -->					
            </div>
            <div class="col-md-7">
                <!-- Single-banner start -->
                <div class="single-banner banner-3">
                    <a class="banner-thumb" href="#"><img src="assets/img/banner/4.jpg" alt="" /></a>
                    <div class="banner-brief">
                        <h2 class="banner-title">
                            <a class="text-uppercase" href="#">design by <br />hurst <br />modern <br /><span>-2021</span></a>
                        </h2>
                    </div>
                </div>
                <!-- Single-banner end -->								
            </div>
        </div>
    </div>
</div>